$background-color-color-name-box: #000000;
$text-color-color-name: #ffffff;
$border-color-color-name-box: #8AC4FF;
$text-color-color-name-box: #ffffff;
$background-color-home-page: #90FFDC;
$border-color-color-box: #8AC4FF;
$background-color-color-box: #7a7978;
$color-buttons-text-color: #ffffff;
$shadow: #000000;
$new-game-background-color: #000000;